@model EntityLayer.Concrete.Category
@{
    ViewData["Title"] = "AddCategory";
    Layout = "~/Views/Shared/AdminLayout.cshtml";
}

<h1>Yeni Kategori</h1>
<br />
@using (Html.BeginRouteForm(
   routeName: "Admin",
   routeValues: new { action = "AddCategory", controller = "Category", area = "Admin" },
   method: FormMethod.Post))
@*@using (Html.BeginForm("AddCategory", "Admin", FormMethod.Post))*@
{
    @Html.Label("Kategori Adı")
    @Html.TextBoxFor(x=>x.CategoryName,new {@class="form-control"})
    @Html.ValidationMessageFor(x=>x.CategoryName)
    <br />
    @Html.Label("Kategori Açıklaması")
    @Html.TextAreaFor(x=>x.CategoryDescription,15,3,new {@class="form-control"})
    @Html.ValidationMessageFor(x=>x.CategoryDescription)
    <br />
    <button type="submit" class="btn btn-info">Kategoyiri Kaydet </button>
}
