@model EntityLayer.Concrete.Message2
@{
    ViewData["Title"] = "MessageDetails";
    Layout = "~/Views/Shared/Writerlayout.cshtml";
}

<form action="/Message/InBox" method="post">
    <h1>Mesaj Detay Sayfası</h1>
    <br />
    @Html.Label("Mesaj ID")
    <br />
    <input class="textBox150" readonly="" value="@ViewBag.ad" />

    <br />
    @Html.Label("Mesaj Başlığı")
    <br />
    @Html.TextBoxFor(x=>x.Subject,new {@class="textBox150", @readonly = true})
    <br />
    @Html.Label("Mesaj İçeriği")
    <br />
    @Html.TextAreaFor(x=>x.MessageDetail, 20,3 ,new {@class="textBox150", @readonly = true  })
    <br />
    <button class="btn btn-success">Mesajlara Dön</button>
</form>