@model EntityLayer.Concrete.Message2
@{
    ViewData["Title"] = "SendMessage";
    Layout = "~/Views/Shared/Writerlayout.cshtml";
}

<h1>Yeni Blog Girişi</h1>
<br />

<form action="/Message/SendMessage" method="post">
    @Html.Label("Alıcı")
@*    @Html.TextBoxFor(x=>x.BlogTitle,new {@class="form-control"})*@
    @Html.DropDownListFor(x=>x.ReceiverID,(List<SelectListItem>)ViewBag.cv,"Kategori Seç",new {@class="form-control"})
    <br />
    @Html.Label("Konu")
    @Html.TextBoxFor(x=>x.Subject,new {@class="form-control"})
    <br />
    @Html.Label("Mesajınız")
    @Html.TextAreaFor(x=>x.MessageDetail,15,3,new {@class="form-control"})
    <br />
    <button class="btn btn-info">Mesajı Gönder </button>

</form>

